<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf8">
<base href="/">
<title>Angular Express App </title>
<link rel="stylesheet" href="/css/app.css">
</head>
<body>


<div ng-controller="AppCtrl">
    <h2>Hello {{name}}</h2>

    <div ng-view="ng-view"></div>

    <div>Welcom to Angular </div>
</div>


<script src="js/lib/angular/angular.min.js"></script>
<script src="js/lib/angular/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>

